{% extends "base.html" %}

{% block content %}
<form method="POST">
  {{ form.hidden_tag() }}

  <div class="field">
    {{ form.date_received.label(class="label") }}
    <div class="control">
      {{ form.date_received(class="input") }}
    </div>
  </div>

  <div class="field">
    {{ form.sender.label(class="label") }}
    <div class="control">
      {{ form.sender(class="input") }}
    </div>
  </div>

  <div class="field">
    {{ form.receiver.label(class="label") }}
    <div class="control">
      {{ form.receiver(class="input") }}
    </div>
  </div>

  <div class="field">
    {{ form.subject.label(class="label") }}
    <div class="control">
      {{ form.subject(class="input") }}
    </div>
  </div>

  <div class="field">
    {{ form.notes.label(class="label") }}
    <div class="control">
      {{ form.notes(class="textarea") }}
    </div>
  </div>

  <div class="field">
    <div class="control">
      {{ form.submit(class="button is-link") }}
    </div>
  </div>
</form>
{% endblock %}